<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="Button1" value="My Button 1;This button runs something;netstat.exe;-p TCP"/>
  <add key="Button2" value="My Button2;This button runs something;iisreset;"/>
  <add key="Button3" value="Button3;This button runs something;ping;google.com"/>
  <add key="Button4" value="My Button 4;;netstat.exe;-p TCP"/>
  <add key="Button5" value="My Button 5;;;"/>
  <add key="Button6" value=""/>
</appSettings>
</configuration>