<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="RootFolder" value="" />
  <add key="Button1" value="IIS Reset;This needs to be run under an administrator account;iisreset;"/>
  <add key="Button2" value="Recreate Objy FD;Rebuilds and Objectivity federated database;initializedatabase.cmd;"/>
  <add key="Button3" value="Data Ingestion Service;;startdataingestion.cmd;"/>
  <add key="Button4" value="Intel Service;;;"/>
  <add key="Button5" value="TestScript;This is only an example;..\..\TestFiles\TestScript.cmd;"/>
  <add key="Button6" value=""/>
</appSettings>
</configuration>